main {
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    align-content:flex-start;
    justify-content: center;
    background-color: #fff;
    margin-top:64px;
}
section.Search_bar{
    min-height: 300px;
    height: calc(100vh/2.5);
    max-height: 360px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    max-width: 1300px;
    background-image: url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg");
}
section.search_bar_content{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    align-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

#search_content, #search_container{
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#search_media{
    width: 100%;
}

#title{
    width: 100%;
    margin-bottom: 20px;
}
#search{
    width: 100%;
    
}
#form{
    margin-top: 30px;
    position:relative;
    top: 0;
    left: 0;
}
#search_media,#search_content{
    flex-wrap: wrap;
}